html {
  box-sizing: border-box;
}

.navbar {
  height: 10vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.title {
  padding: 10px;
  margin: 0;
}

.item__title {
  height: 100%;
  width: 100%;
  color: black;
}

.item__image {
  height: 100px;
  width: 100px;
}

.item__para {
  height: 100%;
  width: 100%;
  color: black;
}